In [1]:
# Libreria
import pandas as pd

In [2]:
# Cargo CSV
inflacion = pd.read_csv(r"indice-precios-al-consumidor-nivel-general-base-diciembre-2016-mensual.csv",parse_dates=['indice_tiempo'] )

In [3]:
inflacion.head()

,indice_tiempo,ipc_ng_nacional,ipc_ng_gba,ipc_ng_pampeana,ipc_ng_nea,ipc_ng_noa,ipc_ng_cuyo,ipc_ng_patagonia,ipc_ng_nacional_tasa_variacion_mensual,ipc_ng_gba_tasa_variacion_mensual,...,ipc_ng_noa_tasa_variacion_mensual,ipc_ng_cuyo_tasa_variacion_mensual,ipc_ng_patagonia_tasa_variacion_mensual,ipc_ng_nacional_tasa_variacion_acumulada_dic_ano_anterior,ipc_ng_gba_tasa_variacion_acumulada_dic_ano_anterior,ipc_ng_pampeana_tasa_variacion_acumulada_dic_ano_anterior,ipc_ng_nea_tasa_variacion_acumulada_dic_ano_anterior,ipc_ng_noa_tasa_variacion_acumulada_dic_ano_anterior,ipc_ng_cuyo_tasa_variacion_acumulada_dic_ano_anterior,ipc_ng_patagonia_tasa_variacion_acumulada_dic_ano_anterior
0,2016-12-01,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,101.5859,101.3130,101.7874,101.6727,101.6014,101.7074,102.5593,0.015859,0.013130,...,0.016014,0.017074,0.025593,0.015859,0.013130,0.017874,0.016727,0.016014,0.017074,0.025593
2,2017-02-01,103.6859,103.8085,103.5312,103.4617,103.7115,103.2652,104.2827,0.020672,0.024632,...,0.020768,0.015316,0.016804,0.036859,0.038085,0.035312,0.034617,0.037115,0.032652,0.042827
3,2017-03-01,106.1476,106.2627,105.8173,105.9880,107.0550,105.9238,106.5167,0.023742,0.023642,...,0.032238,0.025745,0.021423,0.061476,0.062627,0.058173,0.059880,0.070550,0.059238,0.065167
4,2017-04-01,108.9667,109.0613,108.6912,108.3473,109.9626,109.4506,108.6517,0.026558,0.026337,...,0.027160,0.033296,0.020044,0.089667,0.090613,0.086912,0.083473,0.099626,0.094506,0.086517

In [4]:
inflacion.columns

Index(['indice_tiempo', 'ipc_ng_nacional', 'ipc_ng_gba', 'ipc_ng_pampeana',
       'ipc_ng_nea', 'ipc_ng_noa', 'ipc_ng_cuyo', 'ipc_ng_patagonia',
       'ipc_ng_nacional_tasa_variacion_mensual',
       'ipc_ng_gba_tasa_variacion_mensual',
       'ipc_ng_pampeana_tasa_variacion_mensual',
       'ipc_ng_nea_tasa_variacion_mensual',
       'ipc_ng_noa_tasa_variacion_mensual',
       'ipc_ng_cuyo_tasa_variacion_mensual',
       'ipc_ng_patagonia_tasa_variacion_mensual',
       'ipc_ng_nacional_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_gba_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_pampeana_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_nea_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_noa_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_cuyo_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_patagonia_tasa_variacion_acumulada_dic_ano_anterior'],
      dtype='object')

In [5]:
col = ['ipc_ng_nacional', 'ipc_ng_gba', 'ipc_ng_pampeana',
       'ipc_ng_nea', 'ipc_ng_noa', 'ipc_ng_cuyo', 'ipc_ng_patagonia',
       'ipc_ng_nacional_tasa_variacion_mensual',
       'ipc_ng_gba_tasa_variacion_mensual',
       'ipc_ng_pampeana_tasa_variacion_mensual',
       'ipc_ng_nea_tasa_variacion_mensual',
       'ipc_ng_noa_tasa_variacion_mensual',
       'ipc_ng_cuyo_tasa_variacion_mensual',
       'ipc_ng_patagonia_tasa_variacion_mensual', 
        'ipc_ng_gba_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_pampeana_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_nea_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_noa_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_cuyo_tasa_variacion_acumulada_dic_ano_anterior',
       'ipc_ng_patagonia_tasa_variacion_acumulada_dic_ano_anterior'
       ]

In [7]:
inflacion.drop(col, axis=1,inplace=True) #Elimino columnas

In [8]:
inflacion.columns

Index(['indice_tiempo', 'ipc_ng_nacional_tasa_variacion_acumulada_dic_ano_anterior'], dtype='object')

In [9]:
# Renombro la columna
inflacion =inflacion.rename({"ipc_ng_nacional_tasa_variacion_acumulada_dic_ano_anterior":"Argentina"}, axis=1)

In [10]:
inflacion = inflacion.transpose() #Transpongo

In [11]:
inflacion

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,72
indice_tiempo,2016-12-01,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00
Argentina,NaT,0.015859,0.036859,0.061476,0.089667,0.105301,0.118477,0.137852,0.153819,0.175719,...,0.160697,0.230819,0.293051,0.36152,0.462357,0.564289,0.660735,0.766148,0.853011,0.947932

In [13]:
drop = [0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,37,38,39,40,41,42,43,44,45,46,47,49,50,51,52,53,54,55,56,57,58,59,61,62,63,64,65,66,67,68,69,70,71]

In [14]:
inflacion.drop(drop,axis=1,inplace=True) # Elimino las columnas para quedarme solo con los diciembres ("Acumulada anual")

In [15]:
# Renombro las columnas
inflacion.columns = ["2017","2018","2019","2020","2021","2022"]
inflacion.head()

,2017,2018,2019,2020,2021,2022
indice_tiempo,2017-12-01 00:00:00,2018-12-01 00:00:00,2019-12-01 00:00:00,2020-12-01 00:00:00,2021-12-01 00:00:00,2022-12-01 00:00:00
Argentina,0.247956,0.476456,0.538324,0.361406,0.509416,0.947932

In [16]:
inflacion.drop("indice_tiempo",inplace=True) #Borro la fila restante

In [17]:
inflacion=inflacion*100 # Multiplico por 100 para tener los datos porcentuales

In [18]:
inflacion.head()

              2017      2018       2019       2020       2021       2022
Argentina  24.7956  47.64559  53.832402  36.140588  50.941634  94.793182

In [19]:
inflacion.to_csv(r"inflacionArg.csv",index_label="Country Name") # Guardo el csv para utilizar